body {
    background-color: #489078;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cart-icon img {
    width: 75px;
    height: 76px;
    margin: 10px;
    display: inline-block;
}

#menu-container {
 width: 30%;
}

#cart-container {
    width: 30%;
}

#eta-container {
width: 30%;
}

#receipt-container {
width: 30%;
margin-top: 20px;
}