/* Grundinställningar*/
* {
    box-sizing: border-box; /* Padding och border inkluderas i elementets totala bredd och höjd */
    padding: 0; /* Tar bort standardpadding för alla element */
}

/* body */
body {
    font-family: Arial, sans-serif; /* Typsnitt */
    height: 100%;
    max-width: 700px; /* Maximal bredd body */
    width: 100%; 
    margin: auto; 
    text-transform: uppercase; /* Gör all text till stora bokstäver */
    display: flex; /* Använder flexbox för layout */
    flex-direction: column; 
}

/* Visibilitet "view" */
.view {
    display: block; /* Gör element synliga med "view" */
}

/* Rubriker */
h2 {
    text-shadow: 2px 2px 2px #000000; 
    font-size: 30px; 
}

/* Container för varukorgen (cart-box) */
.cart-box {
    display: flex;
    justify-content: flex-end; /* Justerar innehållet till höger */
    align-items: center;
    position: relative; /* Relativ positionering */
    border-radius: 10px; /* Rundar hörnen */
    padding-right: 1rem; /* Lägger till padding på höger sida */
    margin-top: -30px;
    margin-right: -35px;
}

/* Den röda ringen för antal artiklar */
.total-items {
    position: absolute; /* Absolut positionering */
    top: -0.5rem;  /* Flyttar ringen lite upåt */
    right: 0.1rem; /* Flyttar ringen lite åt höger */
    background-color: #ff2929; 
    color: white; 
    font-size: 0.8rem; 
    border-radius: 100%; 
    width: 1.5rem; 
    height: 1.5rem; 
    display: flex; /* Flexbox för att centrera texten i ringen */
    align-items: center; 
    justify-content: center; 
    text-align: center;
}



/* Responsiv 390px varukorgbox, total-iems, menu osv */
@media (max-width: 390px) {
    .cart-box {
        padding-right: 1rem; /* Padding på höger sida  */
    }

    .cart-button {
        width: 3.5rem; 
        height: 3.5rem;
    }

    .total-items {
        width: 1.3rem; 
        height: 1.3rem;
        font-size: 0.7rem; 
        top: -0.3rem; /* Justerar positionen för ringen */
        right: 0.3rem; /* Justerar positionen för ringen */
    }

}

/* Styling för knappar inom meny */
.menu-item-button {
    display: block;
    width: 100%;
    background-color: #575757;
    border: dotted 1px solid #8f8f8f;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item:hover, .menu-item-button:hover {
    background-color: rgb(0, 0, 0);
}

.menu-item:active, .menu-item:focus {
    background-color: #000000;
}

#menu, #cart-container, #eta-container {
    gap: 15px; /* Lägger till 15px mellan elementen i dessa sektioner */
}

.menu-item,
.order-button,
.cart-total {
    max-width: 600px; /* Maximal bredd på dessa element */
    width: 100%; /* Gör att dessa element fyller hela bredden */
}
/* __________________________________Menu________________________________________ */
#menu {
    background-color: #489078; 
    color: white;
    max-width: 700px; 
    padding: 40px;
    font-size: x-large; /* Större textstorlek  */
    text-transform: uppercase;
    margin: 0 auto; 
}

.menu-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.item-name {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    flex-grow: 1;
    color: white;
    text-transform: uppercase;
    margin-left: 6px;
}

.item-price {
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 15px;
}

#menu .dot-line {
    flex-grow: 34;
    border-bottom: 3px dotted #ffffff;
    margin: 0 8px;
    color: white;
}

.menu-item:first-child {
    border-radius: 0.3rem 0.3rem 0 0;
}

.menu-item:last-child {
    border-radius: 0 0 0.3rem 0.3rem;
}

.menu-item:not(:last-child) {
    border-bottom: dotted solid white;
}

.menu-item:hover, .menu-item-button:hover {
    background-color: rgb(0, 0, 0);
}

p, .ingredients {
    margin: 0;
    font-size: 21px;
    margin-bottom: 10px;
    text-align: start;
    margin-left: 20px;
}

.menu-item-button {
    display: block;
    width: 100%;
    padding: 9px;
    background-color: #575757;
    border: dotted 1px solid #8f8f8f;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white;
    border-radius: 8px;
}

.menu-item:active, .menu-item:focus {
    background-color: #000000;
}

/* Container (Dip och Drink) */
.category-container {
    background-color: #575757;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
}

/* Header-container rubrik, dot-line, pris osv */
.category-header {
    display: flex;
    align-items: center; 
    width: 100%; 
}

.category-container h2 {
    font-size: 26px;
    margin-right: 10px; /* utrymme mellan rubrik och punktlinje */
}

.category-price {
    font-size: 26px;
    color: #ffffff;
    text-align: right;
    margin-left: 10px; /* utrymme mellan punktlinjen och priset */
}

/* punktlinje*/
.dot-line {
    flex-grow: 1; /* Gör så att punktlinjen växer och fyller utrymmet */
    border-bottom: 1px dotted #ffffff; /* Punktad linje */
    margin: 0 10px; /* Lite utrymme på sidorna av punktlinjen */
}

/* Knappar för dip- och drinkprodukter */
.small-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Skapar 3 lika stora kolumner */
    gap: 10px; /* Avstånd mellan knapparna */
    padding: 10px;
    border-radius: 10px;
}

/* Knappar för dip och drink */
.small-menu-button {
    background-color: #6a6a6a; 
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.small-menu-button:hover {
    background-color: #000000; 
}


/* Responsiv design 390px */
@media screen and (max-width: 390px) {
    #menu {
        font-size: small; 
        padding: 10px;
        max-width: 90%;
        margin: 0 10px;
    }

    .menu-item-content {
        flex-direction: column; /* Gör så att elementen staplas */
        align-items: center; 
        justify-content: center;
        width: 100%;
    }

    .item-name, .item-price {
        font-size: 12px; 
        text-align: center; 
    }

    #menu .dot-line {
        flex-grow: 1;
        border-bottom: 1px dotted #ffffff;
        margin: 5px 0;
    }

    p, .ingredients {
        font-size: 12px; 
        margin-left: 0;
        text-align: center;
    }

    .menu-item-button {
        font-size: 12px;
        padding: 6px;
    }
}



/* ------------------------- Cart Box ------------------------------- */

/* Container för varukorgen */
#cart {
    max-width: 600px;
    width: 100%;
    color: #000;
    padding: 40px;
    margin: auto;
    font-family: Arial, sans-serif;
}

/* Varukorgens huvudcontainer */
#cart-container {
    max-width: 700px;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    color: #000;
}

.cart-item {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    margin-bottom: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}

/* cart-item info */
.cart-item-info {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

/* cart-item-name */
.cart-item-name {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Punktad linje */
.dot-line {
    flex-grow: 1; /*  Fyller mellanrum  */
    border-bottom: 2px dotted #000000; /* Punktad linje */
    margin: 0 10px; /* Lägger till utrymme */
}

/* Pris på produkten */
.cart-item-price {
    font-size: 1.5rem;
    white-space: nowrap; /* Förhindrar att de hoppar till nästa rad */
    font-weight: bold;

}

/* Container knapparna +, -, mängd osv */
.cart-item-actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Knapp mängd */
.amount {
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: none;
}

/* Knapp + och -  */
.increase, .decrease {
    background-color: #c5c5c5;
    color: #494646;
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Hover-effekt */
.increase:hover, .decrease:hover {
    background-color: #ccc;
}

/* Total box */
.total-box {
    width: 100%;
    max-width: 700px;
    background-color: #cfcfcf;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Pay-button */
.pay-button {
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 700px;
    margin-top: 1rem;
    box-sizing: border-box;
}

.pay-button:hover {
    background-color: #444;
}

/* Totalbelopp för varukorgen */
.cart-total {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 0.5rem;
}
/* _________________________ Eta _____________________________ */

#eta {
    background-color: rgb(85, 85, 85); 
    display: flex; /* flexbox för layout */
    flex-direction: column; /* kolumn */
    padding: 40px; /* Padding runt hela container */
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    min-height: 100vh; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    position: relative; /* position relative */
    text-align: center; /* Centrerar all text inom container */
    max-width: 600px;
}


#eta h1 {
    text-align: center; 
    font-size: 30px;
    width: 100%; 
    margin: 0 auto; /* Förhindrar marginaler att påverka centreringen */
    padding: 0; /* Tar bort eventuella paddingar */
    display: block; /* Gör element till blockelement */
    margin-bottom: 20px;
}


#eta p, .eta-header {
    text-align: center;
    width: 100%; 
}

/* P-taggar inom #eta */
#eta p {
    color: white; 
    margin: 0; /* Tar bort eventuella marginaler */
    margin-bottom: 10px;
}

.eta-img-container {
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Styling för Wonton-boxen */
.wonton-box {
    max-width: 50rem; /* Maximal bredd box */
    margin-top: 5rem; /* Lägger till stort avstånd ovanför */
    text-align: center; 
}

/* Headern eta */
.eta-header {
    font-size: 1.5rem; 
    max-width: 15rem; 
    text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.911); 
    color: #ffffff; 
}

/* Container ETA-knappar layout */
.eta-button-container {
    display: flex; 
    flex-direction: column; 
    margin-top: auto; 
    gap: 1rem; 
    width: 100%; 
    justify-content: center; 
    align-items: center; 
}

/* Knappar inom ETA */
.eta-buttons {
    background-color: #5f5f5f; 
    border: none; 
    border-radius: 0.2rem; 
    font-size: 1.5rem; 
    font-weight: bold; 
    color: white; 
    padding: 1.5rem; 
    cursor: pointer; /* Handpekare hover */
    text-align: center;
    width: 100%; /* Fyller hela bredden */
    max-width: 600px; /* Maximal bredd*/
}

.eta-buttons:hover {
    background-color: #5c5c5c; /* Hover */
}

.order-button {
    background-color: #000000; 
    color: white; 
    font-size: 1.5rem; 
    padding: 1.5rem; 
    font-weight: bold;
    border: none; 
    cursor: pointer; /* Handpekare hover */
    transition: background-color 0.3s ease; /* Mjuk övergång för bakgrundsfärg */
    max-width: 500px;
}

.order-button:hover {
    background-color: #8f8f8f;
}

.eta-buttons.receipt {
    background-color: #5f5f5f; 
    max-width: 500px;
    border: 2px solid white; /* Vit kantlinje runt kvitto-knappen */
    color: white; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.911); 
}

/* ETA-tidens styling */
.time-estimate {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 1px 1px 2px black; 
    text-align: center; 
    margin-bottom: 15px;
}

/* Styling för order-ID */
.order-id {
    font-size: 1.2rem; 
    color: #c2c0c0; 
    text-transform: uppercase; /* Gör bokstäverna stora */
    letter-spacing: 2px; /* Lägger till mellanrum mellan bokstäverna */
    text-align: center; 
}

/* Container för hela ETA-sidan */
#eta-container {
    display: flex; /* Flexbox */
    flex-direction: column; /*kolumn */
    align-items: center; 
    justify-content: center; 
    width: 100%; /* Full bredd */
    text-align: center; /* Centrerar texten */
}